<!-- Css !-->
<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/AcesUp.css" rel="stylesheet">

<!-- This is a test commett !-->
<!-- Javascript !-->
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<script type="text/javascript" src="/assets/javascript/bootstrap.js"></script>

<body>

<div class="row header">
    <div class="col-lg-12 text-center">
        <h1>Aces Up</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 gameboard text-center">
        <div class="col-lg-3">
            <!-- Column one !-->
            <h6>Column One</h6>
            <div class="col-lg-12" id="column-0">

            </div>
            <button type="button" class="btn btn-danger" id="Remove1">remove</button>
        </div>
        <div class="col-lg-3">
            <!-- Column Two !-->
            <h6>Column Two</h6>
            <div class="col-lg-12" id="column-1">

            </div>
            <button type="button" class="btn btn-danger" id="Remove2">remove</button>
        </div>
        <div class="col-lg-3">
            <!-- Column Three !-->
            <h6>Column Three</h6>
            <div class="col-lg-12" id="column-2">

            </div>
            <button type="button" class="btn btn-danger" id="Remove3" >remove</button>
        </div>
        <div class="col-lg-3">
            <!-- Column Four !-->
            <h6>Column Four</h6>
            <div class="col-lg-12" id="column-3">

            </div>
            <button type="button" class="btn btn-danger" id="Remove4">remove</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4">
            <!-- Place for move form !-->
            Move Form<br />
            From: <input type="text" id="from_col" /><br />
            To: <input type="text" id="to_col" /><br />
            <button class="btn" id="moveButton">Move</button>
            <button class="btn" id="resetButton">Reset</button>
            <button class="btn" id="deckButton">ES</button>
        </div>

        <div class="col-lg-4">
            <!-- Place Delete and Deal button !-->
            <button class="btn" id="dealButton">Deal</button>

        </div>
        <div class="col-lg-4">
            <!-- Place deck counter !-->
            Deck counter: <span class="counter text-success"></span>

        </div>
    </div>
</div>

<div class="btn btn-info btn-help" data-toggle="modal" data-target="#myModal">
    <p>?</p>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Aces Up Rules</h2>
            </div>
            <div class="modal-body">
                <p><strong>Note: </strong> Aces are high</p>
                <ol>
                    <li>Deal four cards in a row face up.</li>
                    <li>If there are two or ore cards of the same suit, discard all but the highest-ranked card of that
                        suit.
                    </li>
                    <li>Repeat step 2 until there are no more pairs of cards with the same suit.</li>
                    <li>Whenever there are any empty spaces, you may choose the top card of another pile to be put into
                        the empty space. After you do this, go to Step 2.
                    </li>
                    <li>When there are no more cards to move or remove, deal out the next four cards from the deck
                        face-up onto each pile.
                    </li>
                    <li>Repeat Step 2, using only the visible, or top, cards on each of the four piles.</li>
                    <li>When the last four cards have been dealt out and any moves made, the game is over. The fewer
                        cards left in the tableau, the better. To win is to have only the four aces left.
                    </li>
                </ol>
                <p>When the game ends, the number of discarded cards is your score. The maximum score (and thus the
                    score necessary to win) is 48, which means all cards have been discarded except for the four aces,
                    thus the name of the game.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    var game;

    function display(game) {
        console.log(game);

        $('.counter').html(game['deck']['cards'].length);

        $('.columnOfCards .cardLocation').html("");

        $.each(game.cols[0], function (key, val) {
            var color = null;
            if(val.suit == "Hearts" || val.suit == "Diamonds" || val.suit == "Coins" || val.suit == "Swords"){
                color = 'card-value-red';
            }
            else if(val.suit == "Clubs" || val.suit == "Spades" || val.suit == "Cups"){
                color = 'card-value-black';
            }
            $('#column-0').append(
                    $('<div class="card"></div>')
                            .append(
                                    $('<div class="'+ color +'"></div>').html(val.value + val.suit)

            ));
        });

        $.each(game.cols[1], function (key, val) {
            var color = null;
            if(val.suit == "Hearts" || val.suit == "Diamonds" || val.suit == "Coins" || val.suit == "Swords"){
                color = 'card-value-red';
            }
            else if(val.suit == "Clubs" || val.suit == "Spades" || val.suit == "Cups"){
                color = 'card-value-black';
            }
            $('#column-1').append(
                    $('<div class="card"></div>')
                            .append(
                                    $('<div class="'+ color +'"></div>').html(val.value + val.suit)

                            ));
        });

        $.each(game.cols[2], function (key, val) {
            var color = null;
            if(val.suit == "Hearts" || val.suit == "Diamonds" || val.suit == "Coins" || val.suit == "Swords"){
                color = 'card-value-red';
            }
            else if(val.suit == "Clubs" || val.suit == "Spades" || val.suit == "Cups"){
                color = 'card-value-black';
            }
            $('#column-2').append(
                    $('<div class="card"></div>')
                            .append(
                                    $('<div class="'+ color +'"></div>').html(val.value + val.suit)

                            ));
        });

        $.each(game.cols[3], function (key, val) {
            var color = null;
            if(val.suit == "Hearts" || val.suit == "Diamonds" || val.suit == "Coins" || val.suit == "Swords"){
                color = 'card-value-red';
            }
            else if(val.suit == "Clubs" || val.suit == "Spades" || val.suit == "Cups"){
                color = 'card-value-black';
            }
            $('#column-3').append(
                    $('<div class="card"></div>')
                           .append(
                                    $('<div class="'+ color +'"></div>').html(val.value + val.suit)

                            ));
        });
    }


    $.getJSON("http://localhost:8080/game", function (data) {
        display(data);
        game = data;
    });

    $("#dealButton").click(function () {
        $( ".card" ).remove();
        $.ajax({
            type: "POST",
            url: "/dealGame",
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
    });


    function removeCard(colNumber) {
        $.ajax({
            type: "POST",
            url: "/removeCard/" + colNumber,
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });

    }

     $("#resetButton").click(function () { 
        $('.card').remove();
        $.ajax({
            type: "GET",
            url: "/game",
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
    });

    $("#Remove1").click(function () {
        $('.card').remove();
        removeCard(0);
    });
    $("#Remove2").click(function () {
        $('.card').remove();
        removeCard(1);
    });
    $("#Remove3").click(function () {
        $('.card').remove();
        removeCard(2);
    });
    $("#Remove4").click(function () {
        $('.card').remove();
        removeCard(3);
    });

    $("#moveButton").click(function () {
        $('.card').remove();
        var colFrom = $("#from_col").val()-1;
        var colTo = $("#to_col").val()-1;
        $.ajax({
            type: "POST",
            url: "/moveCard/" + colFrom + "/" + colTo,
            data: JSON.stringify(game),
            success: function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
    });

    $("#deckButton").click(function () { 
    $('.card').remove();
    $.ajax({
        type: "POST",
        url: "/deckType/es",
        data: JSON.stringify(game),
        success: function (data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);
        },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
    });
});



</script>


</body>
</html>